<nav class="navbar is-light">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="." alt="{{ site.Title }}">
        <!-- TODO added logo -->
      </a>
      <!-- TODO provide alternative menu when js disabled -->
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <!-- TODO add special handling for cart -->
        {{- $page := .}}
        {{- with index site.Menus "nav_main"}}
          {{- range .}}
            {{- $attrs := dict "href" .URL}}
            <a {{ printf "href=%q" .URL | safeHTMLAttr }} class="navbar-item">
              {{ .Name }}
            </a>
          {{- end}}
        {{- end}}
      </div>
    </div>

  </div>
</nav>