<nav class="navbar">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="." alt="{{ site.Title }}">
        <!-- TODO added logo -->
      </a>
      <!-- TODO provide alternative menu when js disabled -->
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active">
          Home
          </a>
      <a class="navbar-item">
              Examples
          </a>
      <a class="navbar-item">
              Features
          </a>
      </div>
    </div>

  </div>
  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  {{ partial "navbar.html" . }}

</nav>